PORT=5000
NODE_ENV=development
RUN_INGEST_WORKER=false
MONGODB_URI=
GOOGLE_API_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=7d
GROQ_API_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS=false
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,chrome-extension://your-extension-id
